h1{
    text-align: center;
    line-height: 5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px;
}

h2{
    text-align: right;
    line-height: 10px;
    text-transform: capitalize;
    text-decoration-line: overline;
}

#um{
    text-indent: 30px;
    text-align: justify;
    line-height: 1.8;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 3px;
}

#dois{
    text-align: center;
    direction: rtl;
    unicode-bidi: bidi-override;
    line-height: 2px;
}

#tres{
    text-align: left;
    line-height: 8px;
    text-decoration-line: overline;
    text-shadow: 1px 1px 3px #cccccc;
}
div{
    text-align: center;
    line-height: 3px;
    word-spacing: 5px;
    text-transform: lowercase;
    text-shadow: 0 0 5px blue, 0 0 15px cyan, 0 0 25px lightblue;
}