div{
    padding: 50px;
    margin: 10px;
}
.borda{
    border: 10px dashed black;
}
#bloco1{
    background-color: red;
}
#bloco2{
    background-image: url(/imagens/urubu.jpg);
}
#bloco3{
    background-image: url(/imagens/urubu.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
#bloco4{
    background-image: url(/imagens/urubu.jpg);
    background-size: cover;
}
#bloco5{
    background-attachment: fixed; 
}
#bloco6{
    background-image: url(/imagens/urubu.jpg);
    background-repeat: no-repeat;   
}
#bloco7{
    background-image: url(/imagens/urubu.jpg);
    background-repeat: no-repeat;
}
